@font-face {
    font-family: Calculator;
    src: url(./fonts/digital-7.regular.ttf);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    background-color: gray;
    color: white;
    font-size: xx-large;
    padding: 15px;
    text-align: center;
}

#calculator {
    height: 700px;
    width: 600px;
    margin: 50px auto;
    border: 2px solid black;
    background-color: rgb(18, 161, 23);
    border-radius: 20px;
}

#screen {
    background-color: rgb(118, 116, 116);
    color: black;
    height: 100px;
    width: 450px;
    margin: 20px auto;
    font-size: 60px;
    font-family: Calculator;
    padding-top: 15px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: right;
    padding: 20px;
}

#top {
    height: 50px;
    width: 450px;
    font-size: 40px;
}

#buttons {
    margin: 15px auto;
    padding: 20px;
    height: 430px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 0.5fr;
    gap: 10px;
    border-radius: 20px;
    background-color: aliceblue;
}

.number {
    background-color: black;
}

.clear,
.delete,
.clearE {
    font-size: 25px;
    padding-top: 20px;
    background-color: red;
}
